.dogCard{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
  
    height: 100px;
    width: 300px;
    padding: 4px;
    margin: 4px;
    font-size: 10px;
  
  }
  
  .dogCard img{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 40%;
    margin-right: 15px;
  }

  .cards {
    display: flex;
    padding: 3em;
    margin: 2em;
    font-size:large;
    
  }
  
  .cards .flip-card {
    background-color: transparent;
    width: 400px;
    height: 360px;
    perspective: 1000px;
    border: solid 1px #de56c9;
    box-shadow: 30px 40px 15px 0px #a7628d;
  
  }
  
  .cards .flip-card .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .cards .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .cards .flip-card .flip-card-front,
  .cards .flip-card .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .cards .flip-card .flip-card-front {
    background-color: #eca7ec;
    color: #aa268d;
  }
  
  .cards .flip-card .flip-card-back {
    background-color:#eca7ec ;
    color: #aa268d;
    transform: rotateY(180deg);
  }
  
  .imageDog {
    object-fit: contain;
    object-position:top;
    width: 300px;
    height: 200px;
  }

  .cardContImg {
    position:static;
    background-size:50%;
    height: 200px;
    overflow: hidden;
}

.cardImg {
    width: 100%;
    display: block;
    height: 220px;
    overflow: hidden;
}

.cardInfo {
    z-index: 2;
    background-color: #f8e3f2;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 20px 24px 24px 24px;
    flex-grow: 1;
    height: 100px;
    
}
.cardInfo:hover {
    background-color: transparent;
    position: relative;
}


.cardCategory {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #f3ebf2;
}

.cardTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
    font-weight: 350;
}

.cardTemperament {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
.conteinerAll {
    display: grid;
    flex-direction: column;
    height: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dc4ed9;
    
}
@media (max-width: 1200px) {
    .containerDogs {
        grid-template-columns: 1fr 1fr;
    }
    .containerEmpty{
        height: 100vh;
        display: flex;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
