.paginado {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: medium;
    text-align: center;

}

.paginado li {
    display: inline;
    perspective: 1000px;
}

.paginado li button {
    float: left;
    padding: 8px 18px;
    background-color: #eb86c4;
    border: transparent;
    margin: 3px;
    color: white;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;

}

.paginado li button:hover {
    background-color: #fff;
    color: #121212;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(180deg);

}

.paginado li button:active {
    background-color: #121212;
    box-shadow: 0 1px #fff;


}

.paginado li button:focus {
    background-color: #fff;
    color: #121212;
}